*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f6f6fa;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
}

ul,
ol,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  text-align: justify;
  hyphens: auto;
}

.text-accent {
  color: #3c3d3f;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  border-radius: 20px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f0f0f5;
}

/* Main content */

.main-content {
  padding: 10px 20px 20px 40px;
  box-sizing: border-box;
  height: 100%;
}

/* Sidebar */

.sidebar {
  width: 370px;
  border-radius: 20px 0 0 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
  background-color: #c1d5fa;
}

.sidebar-content {
  padding: 40px 30px;
  box-sizing: border-box;
}

.my-photo {
  border-top-left-radius: 20px;

}

/* Contacts */

.contacts-title {
  color: #161d2a;
  font-weight: 700;
  font-size: 22px;
  line-height: normal;
  margin-bottom: 20px;
}

.contacts-line {
  color: #2979ff;
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: underline;
}

.contacts-item {
  margin-bottom: 4px;
}

.contacts-container {
  margin-bottom: 40px;
}

/* Skills container */

.skills-container {
  margin-bottom: 40px;
}

.skills-title {
  color: #161d2a;
  font-weight: 700;
  font-size: 22px;
  line-height: normal;
  margin-bottom: 20px;
}

.skills-list {
  padding-left: 22px;
}

.skills-list-item {
  font-weight: 400;
  font-size: 14px;
}

/* main content-info */

.my-name {
  color: #000;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.1;
  letter-spacing: 4px;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
}

.my-profession {
  color: #000;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.divider {
  width: 80%;
  text-align: center;
  border-bottom: 2px solid #6d9bf5;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.my-descr {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  max-width: 800px;
  text-align: justify;
  hyphens: auto;
}

.my-info {
  margin-bottom: 20px;
}

/* my-projects-title  */

.my-projects-container {
  margin-bottom: 20px;
}

.my-projects-title {
  color: #000;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-projects-list {
  padding-left: 22px;
}

.my-projects-item {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  max-width: 800px;
  text-align: justify;
  hyphens: auto;
  margin-bottom: 6px;
}

.my-projects-item-link {
  color: #005fff;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
}

.my-projects-item-tech {
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 4px;
}

.my-projects-desc {
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  hyphens: auto;
}

.margin {
  margin-bottom: 4px;
}

/* Work experiencez */

.work-experience-container {
  margin-bottom: 20px;
}

.work-experience-title {
  color: #000;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 8px;
}

.work-experience-container {
  margin-bottom: 12px;
}

.work-experience-company {
  color: #000;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  margin-bottom: 8px;
}

.work-experience-period {
  color: #3c3d3f;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 8px;
}

.work-experience-period-separator {
  color: #a8a8a8;
}

.work-experience-duties-list {
  padding-left: 22px;
  max-width: 800px;
}

.work-experience-duties-item {
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  max-width: 800px;
  text-align: justify;
  /* hyphens: auto; */
}

.work-exp-item {
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  margin-bottom: 16px;
}

/* Education */

.education-container {
  margin-bottom: 4px;
}

.education-title {
  color: #000;
  font-weight: 700;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 8px;
}

.education-university {
  color: #000;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  margin-bottom: 6px;
}

.education-faculty {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 8px;
}

.education-period {
  color: #3c3d3f;
  font-weight: 400;
  font-size: 14px;

  margin-bottom: 20px;
}

.education-period-goit {
  color: #3c3d3f;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0px;
}

h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    flex-direction: column;
  }

  .main-content {
    padding: 10px;
    margin: 0 auto;
  }

  .sidebar {
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

/* ----- Print PDF ---------*/

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    background-color: white;
    padding: 0;
  }

  .wrapper {
    border: 1px solid #eee;
    border-radius: 20px;
    overflow: hidden;
    display: flex;

    zoom: 0.8435;
  }

  .main-content {
    background-color: #e4e7ec;
    border-radius: 0 20px 20px 0;
  }

  p,
  li {
    line-height: 1.3 !important;
  }

  .contacts-container,
  .skills-container,
  .my-info,
  .my-projects-container,
  .work-experience-section {
    margin-bottom: 15px !important;
  }

  .divider {
    margin-bottom: 15px;
  }
}
