* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  background: #fff;
  box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
  border-left: 50px solid #fff;
  border-right: 50px solid #fff;
}

.container .top {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px;
  padding-bottom: 0;
}

.container .top .image-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.container .top .image-box .box {
  position: relative;
  width: 70%;
  min-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
}